<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis总配置文件 -->
<configuration>
	
	<!--   	-->  
	<plugins>
		<plugin interceptor="com.gener.core.interceptor.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.gener.core.dialect.OracleDialect"/>  
		</plugin>
	</plugins>

	<!--
		   <typeAliases>
			 <typeAlias type="com.gener.mobile.model.User" alias="User" />
		  </typeAliases>
		  -->
   
	<!--
		   <mappers>
			  <mapper resource="com/gener/mobile/dao/UserMapper.xml" />
			  <mapper resource="com/gener/mobile/dao/TBaseUserMapper.xml" />
			  <mapper resource="com/gener/mobile/dao/TTimeTableMapper.xml" />


			  <mapper resource="com/gener/mobile/announcement/dao/TAnnouncementMapper.xml" />
			  <mapper resource="com/gener/mobile/group/dao/TGroupShoppingMapper.xml" />
			 </mappers>
			 -->

</configuration>