<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
	  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
	  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!-- classPathEntry:数据库的JDBC驱动-->
	<classPathEntry location="./lib/ojdbc6.jar" />
	<context id="Oracle2Tables" targetRuntime="MyBatis3">
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="Example$" />
			<property name="replaceString" value="Criteria" />
		</plugin>
		
		<!-- 去除自动生成的注释 -->
		<commentGenerator>
			<property name="suppressDate" value="true" />
			<property name="suppressAllComments" value="true" />
		</commentGenerator>

		<jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
			connectionURL="jdbc:oracle:thin:@120.55.189.51:1521:orcl"
			userId="DB_DAX" password="DB_DAX">
		</jdbcConnection>
		<javaTypeResolver>
			<property name="forceBigDecimals" value="true" />
		</javaTypeResolver>
		<!--model生成 到什么位置 -->
		<javaModelGenerator targetPackage="${model.name}.model"
			targetProject="${generated.source.dir}/src">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		<!--sqMapXX.xml生成的位置 -->
		<sqlMapGenerator targetPackage="${model.name}.dao"
			targetProject="${generated.source.dir}/src">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<!--客户端应用接口生成的位置(DAO Interface)-->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="${model.name}.dao" targetProject="${generated.source.dir}/src">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		<!-- 
		<table tableName="T_CODE_SAFETY_RISK_TYPE" domainObjectName="SafetyRiskType"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="false" />
		</table>
		<table tableName="T_CODE_SAFETY_WORKFLOW_TYPE" domainObjectName="SafetyWorkflowType"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="false" />
		</table> -->
		<!-- 多张表 -->
		<table tableName="T_REPORT_GENLOG" domainObjectName="ReportGenLog"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false">
			<property name="useActualColumnNames" value="false" />
		</table>
		
	</context>
</generatorConfiguration>